body{
    text-align: center;
    background-color: whitesmoke;
    padding-left: 3%;
    padding-right: 3%;
}
input{
    border: 2px solid blue;
    border-radius: 8px;
    font-size: 150%;
}
fieldset{
    border: 2px solid blue;
    border-radius: 5px;
    background-color: white;
    font-size: 150%;
}
input[type="submit"]{
    background-color: blue;
    width: 160px;
    color: white;
}
a:link {
    background-color:  white;
    text-decoration: none;
    position: right;
    font-weight: bold;
    color: black;

} 
a:hover {
background-color: #ddf;
    color: blue;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 30px;
    font-weight: bold;
}

a:visited {
  background-color: #ddf;
    color: black;
     border: 1px solid blue;
    text-decoration: none;
}
p{
    font-size: 150%;
}
.inline{
    display: inline-block;
    text-align: left;
}
.center{
    text-align: center;
    height: 25%;
    width: 25%;
    border-style: none;
    border-radius: 25%;
}
li{
    font-size: 250%;
    border: 3px solid blue;
    border-radius: 10px;
}
footer{
    text-align: center;
    background-color: blue;
    font-size: 150%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.before{
    text-decoration: line-through;
    color: red;
}
table{
    border: 2px solid blue;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 100%
}
th{
    background-color: blue;
    border-style: solid;
    color: white;
    padding: 10px;
    
}
td{
    border:2px solid blue;
    border-collapse: collapse;
    padding: 10px;
}
tr:nth-child(even){
    padding: 8px;
    background-color: white;
}
.img{
    width: 30px;
    border-style: none;
    border-radius: 200px;
    text-align: left;
}
div{
    text-align: left;
    font-size: 150%;
}
marquee{
  background-color: white;
  opacity: 0.7;
  border: 10px double blue;
  color: black;
  filter: alpha(opacity=60);
}