body {
    background-color: whitesmoke;    
    padding: 1%;
}
a:link {
    background-color:  white;
    text-decoration: none;
    position: right;
    font-weight: bold;
    color: black;

} 
a:hover {
background-color: #ddf;
    color: blue;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 30px;
    font-weight: bold;
}

a:visited {
  background-color: #ddf;
    color: black;
     border: 1px solid blue;
    text-decoration: none;
}
marquee{
  background-color: white;
  opacity: 0.7;
  border: 10px double blue;
  color: black;
  filter: alpha(opacity=60);
}
h1 {
  text-align: center;
  background-color: white;
  color: black;
  border: 3px double blue;
  font-family: Algerian;
  font-size: 150%;
}
h3{
  font-size: 120%;
  background-color: blue;
  color: white;
}
ul{
  background-color: blue;
  font-size: 100%;
}
li{
  background-color: white;
  font-size: 150%;
  color: black;
}
ol{
  background-color: blue;
  font-size: 100%;
  margin-left: 20px;
}
p{
  font-size: 150%;
}
li a:visited{
  background-color: blue;
  color: #ddf;
}
.before{
  text-decoration: line-through;
}
footer{
    text-align: center;
    background-color: blue;
    font-size: 150%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.center{
  text-align: center;
}
.logo{
    text-align: center;
    height: 25%;
    width: 25%;
    border-style: none;
    border-radius: 25%;
}